<?xml version="1.0" encoding="UTF-8"?>
<LanguageInfo>
    <!-- Переводы для настроек мода. -->
    <GreenModSettings_SelectWeather>Выбрать погоду ({0})</GreenModSettings_SelectWeather>
    <GreenModSettings_raidPowerRange>Сила рейдов</GreenModSettings_raidPowerRange>
    <GreenModSettings_lightningCount>Количество молний</GreenModSettings_lightningCount>
    <GreenModSettings_foodSatisfying>Частота пополнения сытости</GreenModSettings_foodSatisfying>
</LanguageInfo>